@{
  ViewData["title"] = "Authorize Page";
  var options = (AuthorizeOptions)ViewData["options"];
}

<div class="text-center">
    <h1 class="display-4">Authorize + @options.client_id</h1>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">账号</span>
          </div>
          <input type="text" class="form-control" id="account">
        </div>
      </div>
      <div class="col-md-4 offset-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">密码</span>
          </div>
          <input type="password" class="form-control" id="passwd">
        </div>
      </div>
      <div class="col-md-12">
        <div class="center align-self-center">
          <button type="button" class="btn btn-secondary" id="submit">登陆</button>
        </div>
      </div>
    </div>
</div>